@use 'base/variables' as v;
@use 'base/mixins' as m;

.pagination{

    padding: 0;//v.$separacion 0;

    @include m.telefono{
        display: flex;
        justify-content: space-between;
    }
    
    button{
        margin-bottom: 1rem;
    }

    .button{
        margin: 0 0 1rem 0;
    }
}

.pagination-hide{
    visibility: hidden;
}